@import url("https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Courgette&family=Josefin+Sans:wght@300&family=Jost:wght@200&family=Kalam&family=Kaushan+Script&family=Kite+One&family=Mukta:wght@200&family=Pacifico&family=Poppins:ital,wght@1,200&family=Prompt:wght@200&family=Roboto+Mono&family=Russo+One&family=Secular+One&family=Sofia+Sans:wght@300&family=Titillium+Web:wght@300&display=swap");
:root {
  --bg: rgb(10, 180, 50);
}
.load {
  position: absolute;
  font-size: 2rem;
  right: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}
.order .loading-login {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
